# Used by pip to install required python packages
# Usage: pip install -r requirements.txt
#pip install git+https://github.com/gunthercox/jsondb.git


Flask>=0.11
chatterbot>=0.7.1
SQLAlchemy>=1.1.11
textblob>=0.14.0
Flask-Cors>=3.0.3
fuzzywuzzy==0.16.0